Language: Cpp
BasedOnStyle: LLVM
AlignAfterOpenBracket: DontAlign
AlignEscapedNewlines: DontAlign
AlignTrailingComments: Never
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakBeforeMultilineStrings: true
BinPackArguments: false
BinPackParameters: false
BreakArrays: false
ColumnLimit: 0
CompactNamespaces: true
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
EmptyLineBeforeAccessModifier: Never
IndentExternBlock: Indent
IndentRequiresClause: false
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 0
NamespaceIndentation: Inner
PPIndentWidth: 2
PackConstructorInitializers: NextLineOnly
ReflowComments: false
RequiresClausePosition: WithPreceding
SortIncludes: Never
SpacesInContainerLiterals: false
